name: CI
on:
  push:
    branches: [ main ]

jobs:
  CIJOB:
    runs-on: rexzheng
    steps:
    - name: Print a greeting
      env:
        MY_VAR: Hi there! My name is
        FIRST_NAME: rex
        MIDDLE_NAME: dot
        LAST_NAME: zheng
      run: |
        pwd
        ll
        echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME.
        echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME. > rexzheng.txt